<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-lg-10">
        <div class="card border-dark bg-dark text-white mb-3">
            <div class="header">
                <h4>User</h4>

                <ul class="header-dropdown m-r--5">
                    <li>
                        <button type="button" class="btn btn-theme p-0" (click)="saveUserInfo()">
                            <i class="fa fa-save fa-2x"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-theme p-0" (click)="backViewData()">
                            <i class="fa fa-arrow-left fa-2x"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6 border">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="control-label">User Code <strong>*</strong></label>
                                        <input type="text" class="form-control ucode" [(ngModel)]="formd.ucode" maxlength="100" minlength="4" tabindex="1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <div class="float-left">
                                            <label class="control-label">Password <strong>*</strong></label>
                                        </div>
                                        <div class="float-right">
                                            <label id="lblshowpwd" class="pwd" (click)="showPassword('password')"><i class="fa fa-key"></i></label>
                                            <label id="lblhidepwd" class="pwd" (click)="showPassword('text')"><i class="fa fa-eye"></i></label>
                                        </div>

                                        <input type="password" class="form-control pwd" [(ngModel)]="formd.pwd" maxlength="100" minlength="4" tabindex="2">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-8">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="control-label">Full Name <strong>*</strong></label>
                                        <input type="text" class="form-control full_name" [(ngModel)]="formd.full_name" maxlength="100" minlength="4" tabindex="3">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Gender <strong>*</strong></label>
                                        <select id="gender" [(ngModel)]="formd.gender" class="form-control gender" tabindex="4">
                                            <option [value]="''">Select Gender</option>
                                            <option *ngFor="let row of genderDT" [value]="row.key">
                                                {{row.val}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">User Type <strong>*</strong></label>
                                        <select id="utype" [(ngModel)]="formd.utype" class="form-control utype" tabindex="5">
                                            <option [value]="''">Select Type</option>
                                            <option *ngFor="let row of utypeDT" [value]="row.key">
                                                {{row.val}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="control-label">About Us</label>
                                        <textarea class="form-control no-resize auto-growth about_us" [(ngModel)]="formd.about_us" maxlength="500" rows="5" tabindex="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="control-label">Mobile <strong>*</strong></label>
                                        <input type="text" class="form-control mobileno1 " [(ngModel)]="formd.mobile" maxlength="10" minlength="10" tabindex="7">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="control-label">Email <strong>*</strong></label>
                                        <input type="text" class="form-control email1 " [(ngModel)]="formd.email" maxlength="50" minlength="5" tabindex="8">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="control-label">Address</label>
                                        <textarea class="form-control no-resize auto-growth address " [(ngModel)]="formd.address" maxlength="500" rows="5" tabindex="9"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="utype !== 'wsadmin'">
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="allenttrights" name="allenttrights" type="checkbox" [(ngModel)]="formd.isallentt" (change)="isAllEntityRights()" class="filled-in">
                                            <label for="allenttrights" class="control-label">All Entity Rights</label>
                                            <div *ngIf="!formd.isallentt">
                                                <p-autoComplete id="entt_id" name="entt_name" [(ngModel)]="selectedEntity" [tabindex]="6" (onSelect)="selectEntityData($event)" [suggestions]="entityDT" (completeMethod)="getEntityData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete enttname"></p-autoComplete>
                                                <i class="fa fa-search ui-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="entityList.length">
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let row of entityList; let i = index;">
                                        <span class="col-black">
                                           <b>{{i + 1}}.</b> {{row.entt_name}}
                                        </span>
                                        <button type="button" class="btn btn-danger btn-xs pull-right" (click)="deleteEntity(row)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>