<section class="dashboard-header section-padding">
  <div class="container-fluid">
    <div class="row d-flex align-items-md-stretch">
      <!-- To Do List-->
      <div class="col-lg-3 col-md-6">
        <div class="card to-do bg-dark">
          <div class="card-header text-white bg-transparent">
            <h2 class="display h4">Clients <a (click)="ClientRefresh()" class="pull-right"><i class="fa fa-refresh"></i></a></h2>
          </div>
          <div class="card-body p-1">
            <div class="list-group">
              <a (click)="onClientClick(item)" *ngFor="let item of clients" class="list-group-item list-group-item-action flex-column"
                [ngClass]="{'active':selectedClient.clientid===item.clientid}">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><i class="fa fa-television red" aria-hidden="true" [ngClass]="{'green': item.status.status === 'online'}"></i>
                    {{item.name === undefined || item.name === '' ?
                    'Untitled' : item.name}}</h5>
                </div>
                <small class="badge badge-warning pull-right">Client Id : {{item.clientid}}</small>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Pie Chart-->
      <!-- Line Chart -->
      <div class="col-lg-9 col-md-12 flex-lg-last flex-md-first align-self-baseline">
        <div class="card  text-white bg-dark mb-3" *ngIf="selectedClient.clientid">
          <div style="padding:8px;" class="card-header bg-transparent {{ selectedClient.status.status === 'online' ? 'border-success': 'border-danger'}}">
            <!-- <div class="form-group">
              <input placeholder="Enter Url to set" [(ngModel)]="url" class="form-control" type="text">
            </div> -->

            <h4 class="d-inline-block" >{{selectedClient.name}} <small class="d-block mt-1 text-warning">{{selectedClient.clientid}}
              </small></h4>
            <span class="red pull-right text-right" [ngClass]="{'green': selectedClient.status.status === 'online'}"><i class="fa fa-circle"></i>
              {{
              selectedClient.status.status }} <small class="text-secondary d-block"> {{ selectedClient.status.status ===
                'offline' ? (selectedClient.offlinetm | date:'medium') : ''}} </small></span>

          </div>
          <div class="card-body" id="selected">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <input placeholder="Enter Name" [(ngModel)]="selectedClient.name" class="form-control" type="text">
                  <div class="input-group-append">
                    <button (click)="UpdateName()" class="btn btn-primary" type="button">
                      Save
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <hr />
            <div class="col-sm-12">
              <div class="flex-container">
                <div class="items" style="width: 170px;">
                  <span>CPU</span>
                  <div class="iteminner">
                    <progress-bar [progress]="cpudet.cpu" [color]="'#488aff'">
                    </progress-bar>
                  </div>
                </div>
                <div class="items">
                  <span>TEMP. <small>in C'</small></span>
                  <div class="iteminner">
                    <i class="fa fa-thermometer-full fa-2" aria-hidden="true"> {{cpudet.temp}}</i>
                  </div>
                </div>
                <div class="items">
                  <span>RAM <small>in MB</small></span>
                  <div class="iteminner">
                    <i class="fa fa-microchip fa-2" aria-hidden="true"> {{cpudet.totlmem}}</i>
                  </div>
                </div>
                <div class="items">
                  <span>DISK <small>in GB</small></span>
                  <div class="iteminner">
                    <i class="fa fa-hdd-o fa-2" aria-hidden="true"> {{ cpudet.useddisk + '/' + cpudet.totdisk}}</i>
                  </div>
                </div>
              </div>
            </div>
            <hr />

            <div class="col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  <input placeholder="Enter Url to set" [(ngModel)]="settings.url" class="form-control" type="text">
                  <div class="input-group-append">
                    <div class="input-group-text" title="Store Url for next reboot">
                      <input id="checkboxCustom2" [(ngModel)]="settings.persist" class="mr-3 form-control-custom" type="checkbox">
                      <label for="checkboxCustom2">Persist</label>
                    </div>
                  </div>

                  <div class="input-group-append">
                    <button (click)="sendMessageToClient('url')" class="mr-3 btn btn-primary" type="button"><i class="fa fa-send-o"></i>
                      SET</button>
                  </div>


                  <div class="input-group-append">

                    <button (click)="sendMessageToClient('reload')" [disabled]="selectedClient.status.status === 'offline'"
                      class="btn btn-warning" type="button"><i class="fa fa-refresh"></i>
                      RELOAD</button>

                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-sm-12">
              <div class="form-group">
                <button (click)="sendMessageToClient('screenshot')" class="btn btn-info" type="button" [disabled]="selectedClient.status.status === 'offline'"><i
                    class="fa fa-camera-retro"></i>
                  SNAPSHOT</button>
                <button (click)="sendMessageToClient('reboot')" class="btn btn-danger" [disabled]="selectedClient.status.status === 'offline'"
                  type="button"><i class="fa fa-power-off"></i>
                  REBOOT</button>
              </div>
            </div>
            <hr />
            <div class="col-sm-12">
              <div class="btn-group">
                <button (click)="sendMessageToClient('rotate','normal')" class="btn {{settings.orientation === 'normal' ? 'btn-info' : 'btn-default'}} btn-sm"
                  type="button"><i class="fa fa-television"></i>
                  NORMAL</button>
                <button (click)="sendMessageToClient('rotate', 'left')" class="btn {{settings.orientation === 'left' ? 'btn-info' : 'btn-default'}} btn-sm"
                  type="button"><i class="fa fa-television fa-rotate-90"></i>
                  LEFT</button>
                <button (click)="sendMessageToClient('rotate', 'right')" class="btn {{settings.orientation === 'right' ? 'btn-info' : 'btn-default'}} btn-sm"
                  type="button"><i class="fa fa-television fa-rotate-270"></i>
                  RIGHT</button>
                <button (click)="sendMessageToClient('rotate', 'inverted')" class="btn {{settings.orientation === 'inverted' ? 'btn-info' : 'btn-default'}} btn-sm"
                  type="button"><i class="fa fa-television fa-rotate-180"></i>
                  INVERT</button>
              </div>
            </div>
            <hr />
            <div class="col-sm-12">
              <img style="width: 100%;" [src]="src">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
