.point {
  cursor: pointer;
}

.brand-logo {
  display: inline-block;
  height: 67px;
  position: absolute;
  right: 21px;
  top: 12px;
  padding: 12px;
}

.pos-logos {
  height: 75px;
  width: auto;
  margin-top: 22px;
}

.inverse {
  background-color: #1d1c1c;
}

.hide {
  display: none;
}

.hr {
  border: 0.1px solid #FFFFFF;
  height: 1px;
  display: block;
  position: absolute;
  top: 120px;
  width: 100%;
  left: 0px;
  opacity: 0.5;
}
